@font-face {
    font-family: Roboto;
    src: url("/static/fonts/Roboto-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/static/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("/static/fonts/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/static/fonts/SourceCodePro-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/static/fonts/SourceCodePro-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/static/fonts/SourceCodePro-Black.ttf");
    font-weight: 900;
}


.subject-item {
    transition: .3s;
}
.subject-item:hover {
    border-bottom: solid 0.4rem #82b28e;
    border-right: solid 0.4rem #82b28e;
}

.stu-bg-green-1{
    background-color:#82b28e;
}

.stu-bg-green-2 {
    background-color: #43544c;
}

.f-roboto {
    font-family: 'Roboto';
    font-weight: normal;
}

.f-roboto-bold {
    font-family: 'Roboto';
    font-weight: 700;
}

.f-roboto-black {
    font-family: 'Roboto';
    font-weight: 900;
}

.f-sourcecode {
    font-family: "SourceCodePro";
    font-weight: normal;
}

.f-sourcecode-bold {
    font-family: "SourceCodePro";
    font-weight: 700;
}

.f-sourcecode-black {
    font-family: "SourceCodePro";
    font-weight: 900;
}

.f-size-huge {
    font-size: calc(4.5vw + 1rem);
}

.f-size-big {
    font-size: calc(4.5vw + 0.5rem);
}

.f-size-lg {
    font-size: 3em;
}

@media only screen and (max-width: 600px) {
    .f-m-size-big {
        font-size: calc(4.5vw + 1rem);
    }

    .f-size-huge {
        font-size: calc(4.5vw + 2rem);
    }
}


.p-tb {
    padding-top: 4px;
    padding-bottom: 4px;
}