<div class="header u-unselectable header-fixed header-animated m-0 u-shadow-none">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <img src="/static/images/letter-s.png" alt="Studium" width="32px" height="32px">
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-right">
            <div class="nav-item f-m-size-big">
                <a href="#">Dashboard</a>
            </div>
            <div class="nav-item f-m-size-big">
                <a href="#">Settings</a>
            </div>
        </div>
    </div>
</div>