<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/cirrus.min.css">
    <link rel="stylesheet" href="/static/extra.css">
    <title>Studium</title>
    <script  src="/static/js/load.js"></script>
</head>

<body>
    
    {% include "header.html" %}

    <div class="hero mt-4">
        <div class="hero-body">
            <div class="content u-text-center">
                <h5 class="f-roboto-black f-size-lg"><span id="greeting_span"></span>, {{ name }}<span id="additional_span"></span> 👋</h5>
            </div>
        </div>
    </div>

    <div class="row px-4 u-flex-md u-block-sm">
        <div class="col-md-2 u-items-center u-center">
            <h5 class="text-gray-700 f-size-lg ">Subjects</h5>
        </div>

        <div class="col-md-2 u-flex u-items-center">
            <button class="btn-dark u-round-none u-center ">Create New Subject</button>
        </div>
    </div>

    <div class="row" id="group_row">
    </div>

    <div class="bg-green-200 u-fixed u-round-full" width="30px" height="30px"></div>


    <script>
        set_greeting_text();

        // Get all the nav-btns in the page
        let navBtns = document.querySelectorAll('.nav-btn');

        // Add an event handler for all nav-btns to enable the dropdown functionality
        navBtns.forEach(function (ele) {
            ele.addEventListener('click', function() {
                // Get the dropdown-menu associated with this nav button (insert the id of your menu)
                let dropDownMenu = document.getElementById('header-menu');

                // Toggle the nav-btn and the dropdown menu
                ele.classList.toggle('active');
                dropDownMenu.classList.toggle('active');
            });
        });
    </script>
</body>

</html>