<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/cirrus.min.css">
    <link rel="stylesheet" href="/static/extra.css">
    <title>Studium</title>
    <script  src="/static/js/load.js"></script>
</head>

<body>
    
    {% include "header.html" %}

    <div class="hero mt-4">
        <div class="hero-body">
            <div class="content u-text-center">
                <h5 class="f-roboto-black f-size-huge"><span id="greeting_span"></span>, {{ name }}<span id="additional_span"></span> 👋</h5>
            </div>
        </div>
    </div>

    <div class="row pl-4">
        <div class="col-xs-6">
            <h5 class="text-gray-700 f-size-big">Subjects</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {% include "subject_frame.html" %}
        </div>

        <div class="col-3">
            <div class="frame u-shadow-none">
                <div class="frame__header">
                </div>

                <div class="frame__body stu-bg-green-1 subject-item u-round-xl" style="padding: 1rem; margin: 1rem">
                    <div class="frame__title">
                        <div class="row">
                            <div class="col-12"><h2 class="f-roboto-black text-white mb-0">German</h2></div>
                            <div class="col-12"><h5 class="f-roboto-black text-gray-400">22 Jan</h5></div>
                        </div>

                        <div class="row">
                            <div class="col-12"><h2 class="f-roboto-black text-white mb-0">13</h2></div>
                            <div class="col-12"><h5 class="f-roboto-black text-gray-400">Decks</h5></div>
                        </div>

                        <div class="row">
                            <div class="col-12"><h2 class="f-roboto-black text-white mb-0">3</h2></div>
                            <div class="col-12"><h5 class="f-roboto-black text-gray-400">Need Attention</h5></div>
                        </div>
                    </div>
                    <div class="frame__subtitle">
                    </div>

                </div>
                <div class="frame__footer"></div>
            </div>
        </div>

        <div class="col-3">
            <div class="frame u-shadow-none">
                <div class="frame__header">
                </div>

                <div class="frame__body bg-gray-200 subject-item" style="padding: 1rem; margin: 1rem">
                    <div class="frame__title u-text-center">
                        <button class="btn-dark u-round-none">Create New Subject</button>
                    </div>

                </div>
                <div class="frame__footer">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-green-200 u-fixed u-round-full" width="30px" height="30px"></div>


    <script>
        set_greeting_text();

        // Get all the nav-btns in the page
        let navBtns = document.querySelectorAll('.nav-btn');

        // Add an event handler for all nav-btns to enable the dropdown functionality
        navBtns.forEach(function (ele) {
            ele.addEventListener('click', function() {
                // Get the dropdown-menu associated with this nav button (insert the id of your menu)
                let dropDownMenu = document.getElementById('header-menu');

                // Toggle the nav-btn and the dropdown menu
                ele.classList.toggle('active');
                dropDownMenu.classList.toggle('active');
            });
        });
    </script>
</body>

</html>