<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/superkube.min.css">
    <link rel="stylesheet" href="/static/extra.css">
    <title>Studium</title>
    <script  src="/static/load.js"></script>
</head>

<body>
    <div class="hero py-25">
        <div class="container edges centered">
            <div class="hero-head">
                <h1 class="f-size-huge ">Studium Setup</h1>
            </div>
            <div class="hero-body mt-4">
                <p class="text-huge">Below you can enter the details to setup Studium.</p>
            </div>
            
        </div>
    </div>

    <div class="hero pb-12">
        <div class="container edges centered">
            <p class="f-sourcecode text-large">/* --- */</p>
        </div>
    </div>

    <div class="hero">
        <div class="container edges centered max-auto-sm">
            <form class="form">
                <div class="form-item">
                    <label>Your Name</label>
                    <input class="input input-large" type="text">
                </div>
                <div class="form-item">
                    <label>Your Email</label>
                    <input class="input input-large" type="email">
                </div>
            </form>
        </div>
    </div>

    
</body>

</html>