<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/cirrus.min.css">
    <link rel="stylesheet" href="/static/extra.css">
    <title>Studium</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $.getScript("/static/js/setup_load.js");
        });
    </script>
</head>

<body>

    <div class="hero h-40p bg-dark">
        <div class="hero-body">

            <div class="mx-auto">
                <h1 class="f-sourcecode-bold f-size-huge text-white">Setup App</h1>
                <h3 class="subtitle f-sourcecode text-white">// Below you can enter the details to setup Studium.</h3>
            </div>
        </div>
    </div>

    <div class="row u-no-wrap w-60p-md u-center">
        <div class="col-12">
            <form action="">

                <h5 class="f-sourcecode pt-2">// Your Details</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="input-control">
                            <input type="text" name="name_input" id="name_input" placeholder="Name" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-control">
                            <input type="email" name="email_input" id="email_input" placeholder="Email" >
                        </div>
                    </div>
                </div>

                <h5 class="f-sourcecode pt-2">// Database Details</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="form-ext-control form-ext-radio">
                            <input id="check-local" class="form-ext-input form-ext-input--dark" type="radio" name="databaseRadio" checked/>
                            <label class="form-ext-label" for="check-local">Local Database</label>
                        </div>

                        <div class="form-ext-control form-ext-radio">
                            <input id="check-remote" class="form-ext-input form-ext-input--dark" type="radio" name="databaseRadio" disabled />
                            <label class="form-ext-label"  for="check-remote">Remote Database (coming soon)</label>
                        </div>
                    </div>
                </div>

                <div id="sel-local">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-control">
                                <input type="text" name="sql_path_input" id="sql_path_input" placeholder="Path to SQLite DB (optional)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-control u-pull-right">
                            <input class="btn-dark" type="submit" value="Continue" id="submit_form" disabled>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
    </div>

</body>

</html>