<div class="frame u-shadow-none">
    <div class="frame__header">
    </div>

    <div class="frame__body stu-bg-green-2 subject-item u-round-xl" style="padding: 1rem; margin: 1rem">
        <div class="frame__title">
            <div class="row">
                <div class="col-12"><h2 class="f-roboto-black text-white mb-0">German</h2></div>
                <div class="col-12"><h5 class="f-roboto-black text-gray-400">22 Jan</h5></div>
            </div>

            <div class="row">
                <div class="col-12"><h2 class="f-roboto-black text-white mb-0">13</h2></div>
                <div class="col-12"><h5 class="f-roboto-black text-gray-400">Decks</h5></div>
            </div>

            <div class="row">
                <div class="col-12"><h2 class="f-roboto-black text-white mb-0">3</h2></div>
                <div class="col-12"><h5 class="f-roboto-black text-gray-400">Need Attention</h5></div>
            </div>
        </div>
        <div class="frame__subtitle">
        </div>

    </div>
    <div class="frame__footer"></div>
</div>